* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
}

/* khôi phục cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* =========== những thuộc tính áp dụng chung cho cả web================= */
a {
  text-decoration: none;
}

.heading-lv2 {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.26;
  letter-spacing: -0.76px;
  color: #171100;
}

.btn {
  display: inline-block;
  min-width: 118px;
  line-height: 50px;
  padding: 0px 16px;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 24.5px;
  background: #171100;
}

.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
  /* để lesson luôn cách lề một khoảng */
}

.line-clamp {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
}

.line-clamp.lv2 {
  --line-clamp: 2;
}

.break-all {
  word-break: break-all;
}

/* ==============================================header================================================= */
.header {
  background: #fffcf4;
}

/* viết liền nhau */
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}

header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  font-size: 1.6rem;
  color: #5f5b53;
  padding: 8px 21px;
  /* tăng vùng bấm dùng padding */
}

.nav a:hover {
  /* font-weight: 600; */
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
  /* giúp không bị giật phần text xung quanh */
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/* ============================================hero=========================================== */
.hero {
  padding: 56px 0 65px;
  background: #fffcf4;
}

/* hero left */
.hero .body {
  display: flex;
}

.hero .media-block {
  position: relative;
  width: 48%;
  /* lấy 570 chia 1170 chiếm bao nhiêu phần ND */
}

.hero .content-block {
  width: 52%;
  /*100 - 48*/
}

.hero .media-block .img {
  width: 470px;
  height: 680px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-summary {
  padding: 24px;
  position: absolute;
  bottom: 48px;
  right: 0;
  width: 270px;
  border-radius: 12px;
  box-shadow: 0px 16px 32px 0px #0000000d;
  background: #ffffff;
}

.hero .item {
  display: flex;
  align-items: center;
}

.hero .item + .item {
  margin-top: 22px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  font-size: 1.4rem;
  line-height: 186%;
  color: #5f5b53;
}

.hero-summary .title {
  font-weight: 600;
  font-size: 1.8rem;
  color: #171100;
}

/* hero right */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -1.16px;
}

.hero .desc {
  font-size: 1.8rem;
  line-height: 1.67;
  margin-top: 22px;
  color: #5f5b53;
}

.hero .cta-group {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background-color: var(--primary-color);
}

.hero .watch-video {
  margin-left: 28px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 07);
}

.hero .watch-video span {
  color: #171100;
  margin-left: 14px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
}

.hero .desc-recent {
  margin-top: 48px;
}

.desc-start strong {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  margin-right: 15px;
}

.desc-start strong :nth-child(2) {
  margin-left: 28px;
}

.hero .desc-start {
  margin-top: 8px;
}

/* =============================================code popular================================================= */

.popular {
  padding-top: 65px 0;
  margin-top: 135px;
}

.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  font-size: 1.8rem;
  line-height: 1.67x;
  color: #5f5b53;
}

.popular-top {
  display: flex;
}

.popular .control-btn {
  border: solid blue;
}

.popular .controls {
  display: flex;
  gap: 18px;
  align-items: center;
  /* display: inline-block; */
}

.popular .control-btn {
  display: flex;
  /* display: inline-block; */
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 40px;
  height: 40px;
  border: solid 1px var(--primary-color);
  color: var(--primary-color);
  border-radius: 50%;
}

.popular .control-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}
.popular-top {
  justify-content: space-between;
}

.popular-bottom {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.popular .course-item .thumb {
  width: 100%;
  border-top-right-radius: 12px;
  object-fit: cover;
  height: 278px;
}
.popular .course-item .foot,
.popular .course-item .rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-bottom .foot {
  align-items: space-between;
}

.popular-bottom .course-item {
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0px 18px 36px 0px #0000000d;
  width: 370px;
}

.popular-bottom .course-item .info {
  padding: 16px 22px 22px 22px;
  /* width: 370px; */
  /* height: 466px; */
  /* top: 1279px;
  left: 135px; */
}

.popular-bottom .course-item .title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.popular .course-item .desc {
  /* padding: 1px 22px 0px 22px; */
  margin-top: 6px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.popular-bottom .foot span {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 30px;
}

.popular-bottom .foot .btn-book {
  width: 118px;
  height: 50px;
  border: none;
}

.popular-bottom .foot .btn-book:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}

/* ==============================feedback==================================== */
.feedback {
  margin-top: 135px;
  background: #2e2100;
  padding: 96px 0;
}

.feedback .feedback-list {
  display: flex;
}

.feedback .info .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback .info .member-name {
  margin-top: 18px;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.41;
  color: #f7f7f7;
}

.feedback .info .desc {
  margin-top: 4px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb2;
}

.feedback-list .dots {
  margin-top: 28px;
  display: flex;
  gap: 6px;
}

.feedback-list .info .dot {
  width: 6px;
  height: 6px;
  background: #634700;
  border-radius: 50%;
}

.feedback-list .content {
  width: 66%;
  margin-left: auto;
}

.feedback-list blockquote {
  font-weight: 400;
  font-style: italic;
  font-size: 2.6rem;
  line-height: 1.54;
  color: #ffffff;
}

.feedback .info .dot:hover {
  background: #ffb900;
}

.feedback-item .content .quotes {
  margin-left: -35px;
}

/* ================================features 1================================ */
.features {
  margin-top: 125px;
  padding: 65px 0;
}
.features-list {
  display: flex;
}
.features .item .anh {
  width: 270px;
  height: 404px;
  border-radius: 16px;
  object-fit: cover;
}

.features .content .plat {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 48px;
  color: #171100;
}

.features-list .item {
  display: flex;
  gap: 30px;
}

.features .lower {
  margin-top: 34px;
}
.features-list .content .desc {
  margin-top: 16px;
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #5f5b53;
}

.features .content {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features-list {
  justify-content: space-between;
}

.features-list .content .v-btn {
  margin-top: 32px;
  width: 137px;
  height: 50px;
  background-color: var(--primary-color);
  align-items: center;
  border: none;
}

/* ================================features 2================================ */
.features-2nd {
  margin-top: 70px;
}
.features-2nd .features-list {
  flex-direction: row-reverse;
}

.features-2nd .content {
  width: 50%;
}

.features-2nd .anh2-lv2 {
  width: 470px;
  height: 440px;
  border-radius: 20px;
  object-fit: cover;
}

/* ================================blog================================ */
.blog {
  margin-top: 135px;
  padding: 96px 0;
  background: #fffcf4;
}

.blog .blog-top {
  text-align: center;
}

.blog-bottom {
  gap: 30px;
  display: flex;
  margin-top: 55px;
}
.blog-top .our {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 48px;
  padding-bottom: 0px;
}

.blog-top .desc {
  margin: 16px auto 0;
  width: 488px;
  font-family: var(--font-heading);
  font-size: 1.6rem;
  line-height: 1.75;
  color: #696262;
}

.blog-bottom .thumb {
  width: 100%;
  height: 250px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
}

.blog-bottom .item {
  background: #ffffff;
  width: 33.3%;
  border-radius: 16px;
}

.blog-bottom .item:hover {
  box-shadow: 0px 16px 32px 0px #0000000d;
}

.blog-bottom .info {
  padding: 20px 20px 28px;
}

.blog-bottom .date {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}

.blog-bottom .title {
  margin-top: 12px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #171100;
}

.blog-bottom .btn {
  margin-top: 12px;
  font-size: 1.4rem;
}

.blog-bottom .btn:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}

.blog .dots {
  margin-top: 38px;
  justify-content: center;
  display: flex;
  gap: 6px;
}

.blog .dot {
  width: 6px;
  height: 6px;
  background: #5f5b53;
  border-radius: 50%;
}

.blog .dot:hover {
  background: #ffb900;
}

/* ================================footer================================ */
.footer {
  background: #2e2100;
  padding: 65px 0 0 0;
}

.footer .footer-list {
  display: flex;
  justify-content: space-between;
}

.footer-list .lesson {
  width: 267px;
  height: 163px;
}

.footer-list .company {
  width: 130px;
  height: 211px;
}

.footer-list .support {
  width: 137px;
  height: 211px;
}

.footer-list .address {
  width: 231px;
  height: 199px;
}

.footer-list .lesson .title {
  width: 85px;
  height: 34px;
}

.footer-list .lesson .desc {
  /* font-weight: 400; */
  font-size: 1.4rem;
  line-height: 26px;
  color: #bfbcb2;
}

.footer-list .lesson .icon {
  padding-left: 15px;
  margin-top: 20px;
}

.footer-list .address .style,
.footer-list .support .style,
.footer-list .company .style {
  /* padding-bottom: 20px; */
  font-size: 1.6rem;
  line-height: 28px;
  color: #ffffff;
}

.footer-item .desc,
.footer-list .address .desc,
.footer-list .support .desc,
.footer-list .company .desc {
  margin-top: 10px;
  font-size: 1.4rem;
  line-height: 26px;
  color: #bfbcb2;
}

.footer-list .support img,
.footer-list .company img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-list .address span {
  color: #ffffff;
}

.footer-item .desc {
  padding: 20px 0 30px 0;
  text-align: center;
}
